.productCardStyle {
  max-width: 400px;
  cursor: pointer;
  text-decoration: none;
  padding-bottom: var(--space-3xl);
  
  
}

.productImageStyle {
  margin-bottom: var(--space-md);
}

.productDetailsStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: var(--semibold);
  
}

.productVendorStyle {
  font-size: var(--text-xl);
  color: var(--text-color-secondary);
}

.productHeadingStyle {
  width: 100%;
  font-size: var(--text-3xl);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: var(--dense);
}

.productPrice {
  color: var(--text-color-secondary);
}

.producyIntroStyle {
  color:red;
}

.productMoreButton {
  align-items: center;
  background: var(--primary);
  border-radius: var(--radius-md);
  color: var(--text-color-inverted);
  display: flex;
  font-size: var(--text-md);
  font-weight: var(--semibold);
  height: var(--size-input);
  justify-content: center;
  line-height: var(--solid);
  margin: var(--space-3xl) auto var(--space-md);
  padding: var(--space-sm) var(--space-xl);
  width: max-content;
  transition: var(--transition);
}

.productMoreButton:hover {
  box-shadow: var(--shadow);
}



